body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
.nen{
    background-color: rgb(255, 196, 196);
    color: black;
    width: 500px;
    height: 500px;
}
.nen:hover{
    opacity: 0.8;
}